<div class="container">
  <div class='row justify-content-around'>
    <h2 class='col-11'> Cart Items </h2>
    <div class='col-1'>
      <%= link_to "Clear Cart", cart_url, method: :delete, class: "btn btn-sm btn-danger" %>
    </div>
  </div>

  <table class="table">
    <thead class='thead-dark'>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Cost</th>
        <th scope="col" colspan="2">Actions</th>
      </tr>
    </thead>
    <% grand_total = 0 %>
    <tbody>
      <% @cart_items.each do |item| %>
      <% total = item.quantity*item.product.price %>
      <tr>
        <th scope="row"><%=item.product.title%></th>
        <td><%=item.product.price%></td>
        <td><%=item.quantity%></td>
        <td><%=total%></td>
        <td><%= link_to "Remove", line_item_path(item.id), method: :delete, class: "btn btn-sm btn-danger"%></td>
        <td><button class="btn btn-default" href="line_items" data-toggle="modal" data-target="#exampleModal" data-title="<%= item.product.title %>" data-item="<%= item.id %>" data-product_quantity="<%= item.product.quantity %>" data-quantity="<%= item.quantity %>">Edit</button></td>
      </tr>
      <% grand_total += total %>
      <% end %>
    </tbody>
  </table>

  <div class="row">
    <div class="col-6">
      <%= form_with(method: :post, id: "coupn_form",  model: @cart, remote: true) do |f| %>
      <%= hidden_field_tag "cart[grand_total]", "#{grand_total}" %>
      <%= f.label :coupon %>
      <%= f.text_field :coupon_code, type: :text, required: false %>
      <%= f.submit "Apply Coupon", class: "btn btn-sm btn-success" %>
      <% end %>
    </div>
    <div class="col-6">
      <h5>Total: $<%=grand_total%></h5>
      <h5 id="discounted_price">Grand Total: $<%= @updated_price ? @updated_price : grand_total %></h5>
    </div>
  </div>

  <div class="row">

    <div class="col">
      <% unless @cart.line_items.empty? %>
        <%= form_tag charges_path do %>
          <article>
            <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
            <% end %>
          </article>
          <% if user_signed_in? %>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= Rails.configuration.stripe[:publishable_key] %>" data-description="A month's subscription" data-amount=<%=@updated_price %> data - locale="auto" ></script>

          <% else %>
            <%= link_to "Login", new_user_session_path, class: "btn btn-primary mr-2" %>
            <button type="button" class="btn btn-secondary">Checkout as Guest</button>
          <% end %>

        <% end %>
      <% end %>
    </div>



  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= ""%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%=form_with action: 'line_item', method: "patch", id: "quantity_form", local: true do%>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-4">
              <label for="recipient-name" class="col-form-label">Quantity: </label>
            </div>
            <div class="col-8">
              <input type="number" name="quantity" min="1" class="form-control" id="quantity">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= submit_tag('Update Cart', class: 'btn btn-primary') %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  var form;
  $(document).ready(function () {
    form = $('#quantity_form');

    $("#coupn_form").submit(function (event) {
      event.preventDefault();
      $.post("/cart/apply_coupon.json",
        $("#coupn_form").serialize(),
        function (data, status) {
          document.getElementById("discounted_price").innerHTML = "Grand Total: $" + data;
        });

    });
  });


  $('#exampleModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var title = button.data('title');
    var quantity = button.data('quantity');
    var id = button.data('item');
    var product_quantity = button.data('product_quantity');
    var modal = $(this);
    alert(title);
    modal.find('.modal-title').text(title);
    modal.find('.modal-body input').val(quantity);
    modal.find('.modal-body input').attr('max', product_quantity);
    form.attr('action', 'line_items' + "/" + id);
  });

</script>
