<div style="width: 50vw">
  <%= form_for [:seller, @product] do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true, required: true, class: "form-group form-control form-control-sm bg-light" %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description, type: :text, required: true, class: "form-group form-control form-control-sm bg-light" %>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price, type: :decimal, required: true, class: "form-group form-control form-control-sm bg-light" %>
  </div>

  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity, type: :number, value: 1,  required: true, min: 1, class: "form-group form-control form-control-sm bg-light" %>
  </div>

  <div class="field">
    <%= f.label :attachements %><br />
    <%= f.file_field :image, multiple: true, required: true, class: "btn btn-success" %>
  </div>
  <br>
  <div class="field">
    <%= f.submit class: "btn btn-success" %>
  </div>
  <% end %>
</div>
