<div class="card p-2 col-2 shadow-lg p-2 bg-white rounded" style="width: 18rem; margin: 20px;">
  <%= link_to product_path(product) do %>
    <%= image_tag(product_image(product), class: "card-img-top product-thumbnail")%>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= product.title.capitalize%></h5>
    <h6><b>Unit Cost: </b><%=product.price%>$</h6>
    <h6><b>Quantity: </b><%=product.quantity%></h6>
    <p class="card-text"> <b>Description: </b><%=product.description%></p>
  </div>
    <p class="text-center">
      <%= link_to "Details", seller_product_path(product), class: "btn btn-sm btn-info"%>
      <%= link_to "Edit", edit_seller_product_path(product), class: "btn btn-sm btn-warning"%>
      <%= link_to "Delete",  seller_product_path(product), method: :delete, data: { confirm: "You Sure?"}, class: "btn btn-sm btn-danger"%>
  </p>
</div>

