<div class = "row commentContainer" id=<%= comment.id%>>
  <div class="col-sm-10">
		<%= image_tag(user_image(comment.user), class: "commentImage")%>
		<%= comment.body%>
  </div>
  <div class="col-sm-2">
		<div class="row elapsedTime">
			<p class="float:right"><%= time_ago_in_words comment.created_at%></p> 
			<% if is_commenter(comment.user_id) %>
				<a href= "<%= edit_product_comment_path(product, comment)%>" data-remote="true">- Edit</a>
				<span onclick="remove(<%=comment.id%>)">
					<%= link_to "- Delete", product_comment_path(product, comment), method: :delete, data: { confirm: "You Sure?"}%>
				</span>
			<% end %>
		</div>
  </div>
</div>