<%- if controller_name != 'sessions' %>
  <%= link_to "Sign in", new_session_path(resource_name),class:"btn btn-dark btn-block" %><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign up", new_registration_path(resource_name),class:"btn btn-dark btn-block" %><br />
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
<div class="container">
	<ul>
    <li><a href=<%= omniauth_authorize_path(resource_name, "facebook") %> ><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
    <li><a href=<%= omniauth_authorize_path(resource_name, "google_oauth2") %> ><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
  </ul>
</div>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end %>