<div class="authLinksContainer">
  <div class="authLinks">
    <% if !user_signed_in? %>
      <%= link_to "Sign In", new_user_session_path %>
      <%= link_to "Sign Up", new_user_registration_path %>
    <% elsif !current_user.guest?%>
      <%= render partial: "partials/user_profile" %>
    <% end %>
  </div>
</div>
<nav class="navbar navbar-expand-lg no-radius-border">
  <div class="collapse navbar-collapse" id="navbar" style="display: flex; justify-content: center;">
    <%= link_to image_tag("logo.png", class:"logo"), root_path %>
    <%= render 'partials/search' %>
    <% if current_or_guest_user.has_role?(:buyer) %>
      <%= link_to "", cart_path, class: "fa fa-shopping-cart cart-icon" %>
    <% end %>
  </div>
</nav>
