<div class = "row">
  <div class ="col-sm-9">
    <div class="well"  style = "width:30vw">
      <%= form_for @user do |f| %>
        <div class="field">
          <%= f.label :username %><br />
          <%= f.text_field :username, autofocus: true, required: true, class: "form-group form-control form-control-sm bg-light" %>
        </div>

        <div class="field">
          <%= f.label :address %><br />
          <%= f.text_field :address, autofocus: true, required: true, class: "form-group form-control form-control-sm bg-light" %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.text_field :email, readonly: true, class: "form-group form-control form-control-sm bg-light" %>
        </div>

        <div class="field">
          <%= f.label :profile %><br />
          <%= f.file_field :image, class: "btn btn-info" %>
        </div>
        <br>

        <div class="field">
          <%= f.submit class: "btn btn-info" %>
        </div>
        <br>
        <%= link_to "Change your password", edit_user_registration_path, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>

  <div class = "col-sm-3">
    <div>
      <%= image_tag(user_image(@user), class: "profileImage")%>
    </div>
  </div>
</div>


