<h2 class = "text-center text-primary">Edit Profile</h2>

<div class = "row">
  <div class ="col-sm-9">
    <div class="well" style = "width:60vw">
      <%= form_for @user, html: { multipart: true } do |f| %>
        <%= f.text_field :username, label: "Username:"%>
        <%= f.text_field :email, readonly: true, label: "Email:"%>

        <label>Profile Image:</label>
        <%= f.file_field :image, label: "Upload Image"%>
        
        <%= f.submit "Save", class: "btn btn-info" %>
      <% end %>
    </div>
  </div>

  <div class = "col-sm-3">
    <div class = "profileImage">
      <%= image_tag(user_image(@user))%>
    </div>
  </div>
</div>