<div class="container">
  <div class='row justify-content-around'>
    <h2 class='col-11'> Orders </h2>
  </div>
  <% @orders.each do |order| %>
    <table class="table table-hover">
      <thead class='thead-dark'>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Unit Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Cost</th>
        </tr>
      </thead>
      <% grand_total = 0 %>
      <tbody>
        <% order.line_items.each do |item| %>
          <% total = item.quantity*item.product.price %>        
          <tr>
            <th scope="row"><%=item.product.title%></th>
            <td><%=item.product.price%></td>
            <td><%=item.quantity%></td>
            <td><%=total%></td>
          </tr>
          <% grand_total += total %>
        <% end %>
      </tbody>
    </table>
    
    <div class="row mb-2">
      <div class="col">
        <h5>Total price: $<%=order.cost%></h5>
      </div>
      <div class="col">
        <h5>Grand Total: $<%=order.total_cost%></h5>
      </div>
    </div>
  
  <% end %>
</div>
