<div class="container">
  <div class='row justify-content-around'>
    <h2 class='col-11'> Order Items </h2>
  </div>

  <table class="table table-bordered">
    <thead class='thead-dark'>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Cost</th>
      </tr>
    </thead>
    <% if @order_items.present? %>
      <tbody>
        <% @order_items.each do |item| %>
          <% total = item.quantity*item.product.price %>
          <tr>
            <th scope="row"><%=item.product.title%></th>
            <td><%=item.product.price%></td>
            <td><%=item.quantity%></td>
            <td><%=total%></td>
          </tr>
        <% end %>
      </tbody>
    <%end%>
  </table>

  <% if @order_items.present? %>
    <div class="row">
      <div class="col-6">
        <%= form_with(method: :post, id: "coupn_form", remote: true) do |f| %>
        <%= f.label :coupon %>
        <%= f.text_field "order[coupon_code]", type: :text, required: false %>
        <%= f.submit "Apply Coupon", class: "btn btn-sm btn-success" %>
        <% end %>
      </div>
    </div>

    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row">Total</th>
          <td>$<%=@order.cost%></td>
        </tr>
        <tr>
          <th scope="row">Coupon</th>
          <td><%=@order.coupon.title%></td>
        </tr>
        <tr>
          <th scope="row">Grand Total</th>
          <td>$<%= @order.total_cost %></td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col">
        <%= form_tag charges_path do %>
          <article>
            <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
            <% end %>
          </article>
          <% if user_signed_in? %>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= Rails.configuration.stripe[:publishable_key] %>" data-description="A month's subscription" data-amount=<%= @order.total_cost %> data-locale="auto" >
            </script>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= ""%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%=form_with action: 'line_item', method: "patch", id: "quantity_form", local: true do%>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-4">
              <label for="recipient-name" class="col-form-label">Quantity: </label>
            </div>
            <div class="col-8">
              <input type="number" name="quantity" min="1" class="form-control" id="quantity">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= submit_tag('Update Cart', class: 'btn btn-primary') %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  var form;
  $(document).ready(function () {
    form = $('#quantity_form');

    $("#coupn_form").submit(function (event) {
      event.preventDefault();
      $.post("/orders/apply_coupon.json",
        $("#coupn_form").serialize(),
        function (data, status) {
          if (data === 0) {
            data = grand_total;
          }
          document.getElementById("discounted_price").innerHTML = "$" + data;
        });

    });
  });

</script>
