<div class="coupon-form">
  <h3 class="text-center"><%= message %></h3>
  <%= form_for [:admin, @promotion] do |f| %>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, autofocus: true, required: true, class: "form-group form-control form-control-sm bg-light" %>
    </div>

    <div class="field">
      <%= f.label :expire_at %><br />
      <%= f.text_field :expire_at, type: :date, required: true, class: "form-group form-control form-control-sm bg-light" %>
    </div>

    <div class="field">
      <%= f.label :attachements %><br />
      <%= f.file_field :image, required: true, class: "btn btn-default" %>
    </div>
    <br>
    <div class="field text-center">
      <%= f.submit class:"btn btn-success" %>
    </div>
  <% end %>
</div>