<h1 class="text-center">Promotional Charts</h1>
<p class="text-center"><%= link_to 'Add New Promotion', new_admin_promotion_path, class: "btn btn-warning" %></p>
<br>
<table id="coupon_datatable" class="table table-hover">
  <thead>
    <tr>
      <th>Index</th>
      <th>Title</th>
      <th>Thumbnail</th>     
      <th>Expires At</th>     
      <th>Actions</th>     

    </tr>
  </thead>
  <tbody>
    <% @promotions.each_with_index do |promo, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%=promo.title%></td>
        <td><%= image_tag(promo_image(promo), class: "promotion-list-image")%></td>
        <td><%=promo.expire_at%></td>
        <td>
          <%= link_to "Edit", edit_admin_promotion_path(promo), class: "btn btn-success"%> 
          <%= link_to "Delete", admin_promotion_path(promo), method: :delete, data:{ confirm: "Are you Sure?"}, class: "btn btn-danger"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>