<div class="well product_item">
  <div class="row">
    <p class="col-sm-8"><%= product.title.capitalize%></p>
    <p class="col-sm-4 product_price"><%= product.price%>$</p>
  </div>
  <%= image_tag(product_image(product) , style: "width:20vw")%>
    <div class="product_actions">
    <%= link_to "Details", user_product_path(current_user,product), class: "btn btn-warning"%>
    <% if product.user_id == current_user.id%>
      <%= link_to "Edit", edit_user_product_path(current_user,product), class: "btn btn-warning"%>
    <% end %>
  </div>

</div>