<div class="well product_item">
  <div class="row">
    <p class="col-sm-8"><%= product.title.capitalize%></p>
    <p class="col-sm-4 product_price"><%= product.price%>$</p>
  </div>
  <%= image_tag(product_image(product) , style: "width:20vw")%>
    <div class="product_actions">
    <%= link_to "Details", product_path(product), class: "btn btn-info"%>
    <% if product.user_id == current_user.id%>
      <%= link_to "Edit", edit_product_path(product), class: "btn btn-warning"%>
      <%= link_to "Delete",  product_path(product), method: :delete, data: { confirm: "You Sure?"}, class: "btn btn-danger"%>

    <% end %>
  </div>
</div>