<div class = "row">
    <div class="col-sm-10">
        <%= image_tag(user_image(comment.user) , style: "width:3vw; border-radius:50px")%>
        <%= comment.body%>
    </div>
    <div class="col-sm-2">
        <% if comment.parent_id.nil?%>
            <span onclick ="reply(<%= comment.id %>)">Reply</span>
            <%= link_to " ", comment_path(comment), method: :delete, data:{confirm: "Are you sure!"} %>
        <% end %>
        <p class = "float:right"><%= comment.created_at.strftime("%e-%B")%></p> 
    </div>
</div>
<% unless comment.replies.empty?  %>
    <div class = "reply" id= "comment-<%= comment.id%>">
        <% comment.replies.each do |reply|%>
            <%= image_tag(user_image(reply.user) , style: "width:1vw; border-radius:50px", class: "img-circle")%>
            <%= reply.body %><hr>
        <% end %>
    </div>
<% end %>
